@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Jost&display=swap');

$base-color: #2b3a42;
$base-font: 'Crimson Text', serif;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    align-items: center;
    background-color: $base-color;
    display: flex;
    flex-direction: column;
    font-family: $base-font;
    height: 100vh;
    justify-content: center;
    text-align: center;
}

h2 {
    font-size: 60px;
    @media (max-width: 500px) {
        font-size: 40px;
    }
}

span {
    font-size: 30px;
    @media (max-width: 500px) {
        font-size: 20px;
    }
}